body {
    background-color:  rgb(255, 233, 172);
}

.App {
  text-align: center;
  font-family: sans-serif;
  font-size: 150%;
  padding: 20px;
}

.controls {
  margin-bottom: 20px;
}

.nav {
  margin: 5px;
  padding: 8px 12px;
  border: 1px solid #0060c6;
  background: #007bff;
  box-shadow: 2px 2px 0px  #0060c6;
  color: rgb(197, 250, 244);
  border-radius: 6px;
  cursor: pointer;
  font-size: 70%;
}

.nav:hover {
  background: #007bff;
}

.nav:active {
  transform: translate(1px, 1px);
  transition: transform 0.1s ease;
}


.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 16px;
}

.card {
  border: 1px solid #ff6969;
  background-color:  rgb(255, 142, 142);
  padding: 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 70%;
  box-shadow: 4px 4px 0px  #ff6969;

}

.card:hover {
  background: #ff5656;
}

.card:active {
    transform: translate(3px, 3px);
    transition: transform 0.1s ease;
}

.card:hover {
  background: #ff6969;
}
